body {
    font-size: 80%;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

div {
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #4d5052;
}

div#main {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div#top {
    top: 0;
    left: 0;
    right: 0;
    height: 80%;
}

div#header {
    top: 0;
    left: 0;
    right: 0;
    height: 19px;
    border-bottom: 1px solid #313335;
    padding: 4px 6px;
}

div#input {
    top: 28px;
    left: 0;
    right: 0;
    height: 19px;
    padding: 4px 6px;
}

div#output {
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
}

div#bottom {
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
}

div#left {
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
}

div#right {
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
}

div.textarea {
    top: 6px;
    bottom: 6px;
    left: 6px;
    right: 6px;
    border: 1px solid #313335;
    padding: 6px;
    overflow: auto;
    background-color: #393939;
}

div#right div.textarea {
    left: 3px;
    bottom: 3px;
}

div#left div.textarea {
    right: 3px;
    bottom: 3px;
}

div#bottom div.textarea {
    top: 3px;
}

pre {
    margin: 0;
    padding: 0;
    border: 0;
    color: #9ba4ab;
    font-family: 'Menlo', 'Andale mono', 'Courier', 'Monospaced', 'Ubuntu Mono', monospace;
    font-size: 1em;
}

pre::selection {
    color: #acb5bc;
    background-color: #6297ca;
}

input[type="text"] {
    padding-left: 3px;
    padding-right: 3px;
    color: #bec1c5;
    border: 1px solid #7a7a7a;
    border-radius: 2px;
    background-color: #5d6060;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 1em;
}

input[type="text"]:hover {
    border-color: #929292;
}

input[type="text"]::selection {
    color: #cfd2d6;
    background-color: #6297ca;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid #6297ca;
    border-radius: 3px;
    box-shadow: 0 0 4px #6297ca;
}

label {
    display: inline;
    color: #bec1c5;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 1em;
}

.checkbox {
    display: none;
}

.checkbox + label {
    margin-left: 3px;
    background-color: #5d6060;
    border: 1px solid #7a7a7a;
    padding: 6px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    vertical-align: text-bottom;
}

.checkbox + label:hover {
    border-color: #929292;
}

.checkbox + label:active {
    outline: none;
    border: 1px solid #6297ca;
    border-radius: 3px;
    box-shadow: 0 0 4px #6297ca;
}

.checkbox:checked + label {
    color: #bec1c5;
}

.checkbox:checked + label:after {
    content: '\2713';
    font-size: 18px;
    position: absolute;
    top: -6px;
    left: 1px;
    color: #bec1c5;
}

.button {
    box-shadow: none;
    background: #5d6060 linear-gradient(to bottom, #696e70 5%, #5c6063 100%);
    border-radius:2px;
    border:1px solid #7a7a7a;
    display:inline-block;
    cursor:default;
    color:#bec1c5;
    padding:1px 6px;
    text-decoration:none;
}

.button:hover {
    border-color: #929292;
}

.button:active {
    border-color: #6297ca;
    box-shadow: 0 0 4px #6297ca;
}

#connect-endpoint {
    width: 48em;
}

#send-address {
    width: 10em;
}

#send-body {
    width: 56em;
}

#send-timeout {
    width: 10em;
}
